@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

.infogalax {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.infogalax-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px;
}

.infogalax-header-title {
    margin-bottom: 55px;
    font-size: 32px;
    text-shadow: 5px 5px 5px #25063F;
}

.infogalax-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
}

.infogalax-main-phrase {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.15));
    border-radius: 2rem;
    padding: 52px 20px;
    color: #25063F;
    text-align: center;
    max-width: 450px;
    font-size: 16px;
}

.infogalax-main-buttom {
    border: none;
    background: transparent;
    position: absolute;
    bottom: 200px;
}

.infogalax-footer-author {
    font-family: 'Fredoka', sans-serif;
    font-weight: 200;
    margin-bottom: 20px;
    text-shadow: 5px 5px 8px #000000;
}